.container{
    display: flex;
    width: 1180px;
    justify-content:center;
    align-items: center;
    gap: 437px;   
padding:20px 130px 0 130px;
margin: 0 auto;
}

.header{
    width: 1440px;
    height: 544px; 
margin: 0 auto;

}